# Easier navigation
alias ..="cd .."
alias ~="cd ~"
alias p="cd ~/Projects"
alias is="cd ~/Projects/Ingenuity/Sources"

# Ingenuity stuff
alias beingen="git config user.name 'Brux Romuar'; git config user.email brux@ingenuity.ph"

# Git shortcuts
alias ga="git add ."
alias gs="git status"
alias gp="git push"

# lock this computer
alias lock="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Easily launch servers
alias serve="http-server"
alias pg="postgres -D /usr/local/var/postgres"
#alias mysql="mysql.server start"
alias redis="redis-server /usr/local/etc/redis.conf"
alias mongodb="mongod --config /usr/local/etc/mongod.conf"

# Quickly launch a PHP dev server
alias srv="php -S localhost:8000 -t public/"

# Wordpress stuff
alias wpsrv="php -S localhost:8080 ~/Projects/Wordpress/router.php"
alias wpdir="cd ~/Projects/Wordpress"
