# Easier navigation
alias ..="cd .."
alias ~="cd ~"
alias p="cd ~/Projects"

# lock this computer
alias lock="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Easily launch servers
alias pg="postgres -D /usr/local/var/postgres"
alias mysql="mysql.server start"
alias redis="redis-server /usr/local/etc/redis.conf"

# Quickly launch a PHP dev server
alias srv="php -S localhost:8000 -t public/"

# Wordpress stuff
alias wpsrv="wp server --host=0.0.0.0"
alias wpdir="cd ~/Projects/Wordpress"
