# Easier navigation
alias ..="cd .."
alias ~="cd ~"
alias p="cd ~/Projects"

# lock this computer
alias lock="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"